{% extends 'blog/base.html' %}
{% block title %}Add category {% endblock %}
{% block main %}
 <h2 align="center">Add Category </h2>
 <br>
 <form method="post" action="/blog/add-category/" id="cat_form">
 {% csrf_token %}
 	{{form.as_p }}

 	<input class="btn btn-primary" type="submit" name="submit" value="Submit" />
 	</form>
 	{%endblock%}
 	{% block sidebar %}
 	<p align="center">Categories</p><br>
        {% for a in cat %}
            <p> <a href="/blog/categories/{{a.url}}">{{a.name}} </a> </p>
        {% endfor %}
        <br>
        <p><a href="/blog/add-category/">Add Category</a></p>
        {%endblock%}